{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>Top Selling Products</h2>
    </div>

    {% if order_items %}
        <div class="dashboard-placeholder">
            <table>
                <thead>
                <tr>
                    <th>Sr No.</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Total Sold</th>
                </tr>
                </thead>
                <tbody>
                {% if order_items|length < 5 %}
                    {% for i in range(order_items|length) %}
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>{{ order_items[i]["name"] }}</td>
                            <td>₹{{ order_items[i]["Price"] }}</td>
                            <td>{{ order_items[i]["quantity"] }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for i in range(5) %}
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>{{ order_items[i]["name"] }}</td>
                            <td>₹{{ order_items[i]["Price"] }}</td>
                            <td>{{ order_items[i]["quantity"] }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>

    {% else %}
        <p class="empty-state">
            No orders yet.
        </p>
    {% endif %}
{% endblock %}